/* Nav Styles */
.nav-left {
  display: flex;
  justify-content: center;
  box-shadow: var(--box-shadow-cards);
  background-color: var(--white);
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
  overflow-y: scroll;
}

.nav-left nav {
  display: grid;
  grid-template-rows: auto auto;
  width: 100%;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.carousel-header-container {
  grid-row: 1;
  position: sticky;
  top: 0;
  background-color: var(--white);
  z-index: 1; /*título encima del contenido*/
}

.carousel-header {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding: 0.8rem;
  color: var(--purple);
  box-shadow: 0 1px 10px 0 black;
}

.carousel div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 13rem;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  border: 2px solid var(--purple);
  font-weight: bold;
  cursor: pointer;

  margin: 0.5rem 0;
  border-radius: 2rem;
  /* Animación de cambio de color al pasar el ratón */
}

.carousel a {
  text-decoration: none;
}

.carousel-item {
  background-color: var(--white);
  transition: background-color 0.4s;
}

.carousel-item a {
  color: var(--purple);
}

/* .carousel-card:last-child {
  margin-bottom: 0;
} */

.carousel-item:hover {
  background-color: var(--purple);
}

.carousel-item:hover a {
  color: var(--white);
}

.carousel-item-dark {
  /* background-color: var(--black); */
  transition: background-color 0.4s;
}

.carousel-item-dark a {
  color: var(--gray);
}

.carousel-item-dark:hover {
  background-color: var(--black);
  transition: background-color 0.4s;
}

.carousel-item-dark:hover a {
  color: var(--white);
}
