.card-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, 4rem);
  padding: 0.7rem;
  margin: 0.5rem 0;
}

.card-buttons {
  display: flex;
  align-items: center;
}

.card-buttons button {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  padding: 0 0.5rem 0 0;
}

.icon-container {
  display: flex;
  align-items: center;
}

.icon-container span {
  display: flex;
  align-items: center;
  height: 100%;
}

.icon-heart:hover svg {
  stroke: red;
}

.isLiked svg {
  stroke: var(--red);
  fill: var(--red);
}

.icon-animation {
  animation: heartbeat 1s ease-in-out infinite;
  transform-origin: center center;
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
  }
}