.comments-container {
  margin-left: 4.5rem;
  max-height: 15rem;
  margin-bottom: 1rem;
  overflow: hidden;
  overflow-y: scroll;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.comment {
  display: grid;
  grid-template-columns: minmax(4rem, 4rem) auto;
  padding: 1rem 0.5rem 0.5rem;
  background-color: var(--purple);
  border-radius: 1rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.comment:last-child {
  margin-bottom: 0;
}

.avatar-user {
  display: flex;
  justify-content: center;
}

.avatar-user img {
  cursor: pointer;
  max-width: 35px;
  max-height: 35px;
  border-radius: 50%;
}

.info-comment {
  color: var(--white);
  padding: 0 0.5rem 0.5rem;
  display: grid;
  grid-template-rows: auto auto;
}

.name-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5rem;
  font-size: 1.2rem;
}
.name-user {
  font-weight: bold;
}

.date {
  text-align: right;
}

.comment-text {
  font-size: 1.2rem;
}
