.comments {
  display: grid;
  grid-template-columns: auto;
  padding: 1.5rem 0 1.5rem 4.5rem;
  margin-bottom: 1rem;
}

.comment {
  display: grid;
  grid-template-columns: minmax(4rem, 4rem) auto;
  padding: 1rem;
  background-color: var(--purple);
  border-radius: 1rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.comment:last-child {
  margin-bottom: 0;
}

.avatar-user {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* height: 100%; */
}

.avatar-user img {
  cursor: pointer;
  max-width: 35px;
  max-height: 35px;
  border-radius: 50%;
}

.info-comment {
  color: var(--white);
  padding: 0 .5rem;
  display: grid;
  grid-template-rows: auto auto;
}

.name-user {
  letter-spacing: .1rem;
  margin-bottom: .5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.comment-text {
  grid-area: 2;
  font-size: 1.2rem;
}
