/* half styles */
.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--purple-light);
  border-radius: 1rem;
  overflow: hidden;
  overflow-y: scroll;
}

.card {
  background-color: var(--white);
  max-width: 90%;
  min-width: 90%;
  margin: 1rem 0;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: var(--box-shadow-cards);
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 35rem;
  overflow: hidden;
  border-radius: 2rem;
  border: 1px solid var(--purple-light);
}

.img-container img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 2rem;
}

.card-header {
  display: grid;
  grid-template-columns: 1fr minmax(8%, 8%);
  grid-template-rows: auto minmax(1rem, auto);
  padding: 0.5rem;
}

.card-title {
  font-size: 1.6rem;
  color: var(--purple);
}

.card-date {
  font-size: 1.2rem;
  color: var(--purple);
  font-weight: 400;
}