:root {
  --white: #ffffff;
  --text: #333;
  --boder-inputs: #ff8282;
  --purple: #1b1464;
  --purple-light: #1b14644d;
  --box-shadow-cards: 0px 6px 11px 0px rgba(27, 20, 100, 0.5);
  --blue-light: #0058ff;
  --red: #ff0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%; /* 1rem = 10px */
}

*::-webkit-scrollbar {
  display: none;
}
