:root {
  --white: #ffffff;
  --red: #ff0000;
  --blue-light: #0058ff;
  
  --text: #333;
  
  /* --purple: #560fa6; */
  --purple: #091d97;
  --background-light: #1b146417;
  --box-shadow-cards: 0px 6px 11px 0px rgba(27, 20, 100, 0.5);
  --dark-card: #1b1464;

  /* --purple:#23e0ff; */
  /* --purple: #1989fc; */
  /* --purple:#7547fa; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%; /* 1rem = 10px */
}

*::-webkit-scrollbar {
  display: none;
}