:root {
  --white: #ffffff;
  --black: #000000;
  --red: #ff0000;
  --blue-light: #1988fc;
  --gray: #818181;
    
  /* Light Mode */
  --purple: #33269f;
  --background-main-container: #f5f5f5;
  --box-shadow-cards: 0px 6px 11px 0px #1b146480;

  /* Dark Mode */
  --nav-dark: #171717;
  --main-dark: #000000;
  --container-card-dark: #1b1b1b;
  --card-dark: #171717;
  --text-card-dark: #d4d4d4;
  --border-gray-dark: #404040;
  --box-shadow-cards-dark: 0px 6px 11px 0px #00000080;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%; /* 1rem = 10px */
}

*::-webkit-scrollbar {
  display: none;
}