/* half styles */
.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--box-shadow-cards);
  background-color: var(--white);
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
  overflow-y: scroll;
}

.card {
  background-color: var(--white);
  max-width: 90%;
  min-width: 90%;
  /* min-height: 90%; */
  margin: 1rem 0;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: var(--box-shadow-cards);
}

.img-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 35.772rem;
  min-height: 35.772rem;
  border-radius: 2.2rem;
  border: 2px solid rgb(129, 129, 129);
}

.img-container img {
  width: 100%;
  border-radius: 2rem;
}

.card-header {
  display: grid;
  grid-template-columns: minmax(90%, auto) auto;
  grid-template-rows: auto minmax(1rem, auto);
  gap: 0 1rem;
  padding: 0.5rem;
}

.card-title {
  font-size: 1.6rem;
  color: var(--purple);
}

.card-date {
  font-size: 1rem;
  color: var(--purple);
  font-weight: 400;
}