.options {
  position: relative;
}

.btn-options {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  width: 100%;
  cursor: pointer;
  border: none;
  background: none;
}

.menu-options {
  position: absolute;
  display: flex;
  box-shadow: var(--box-shadow-cards);
  left: -5rem;
  overflow: hidden;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.menu-options button {
  padding: 4px;
  background: var(--white);
  border: none;
  width: 100%;
}

.edit:hover svg {
  stroke: var(--blue-light);
  cursor: pointer;
}

.delete:hover svg {
  stroke: var(--red);
  cursor: pointer;
}