.nabvar{
    display: grid;
    position: fixed;
    width: 100%;
    grid-template-columns: auto 1fr auto;
    background-color: var(--purple);
    padding: .5rem 2rem;
    z-index: 2;
    color: var(--text);
    border-bottom-right-radius: 1rem;
}

.nabvar-left{
    display: flex;
    align-items: center;
}

.nabvar-left .logo {
    max-width: 4rem;
    margin-right: 2rem;
}

.nabvar-left .logo img{
    width: 100%;
}

.nabvar-left input[type="text"]{
    padding: .8rem;
    border: none;
    border-radius: 2rem;
}

.nabvar-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nabvar-right a{
    text-decoration: none;
    color: var(--text);
    margin-right: 2rem;
    font-size: 1.5rem;
}